/* viewType : Table */
.viewType_Table {
    max-height: 400px;
    overflow: auto;
}

.dataTable th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.dataTable .th_index {
    width: 50px;
}

.dataTable .th_checkbox {
    padding-left: 24px !important;
    width: 50px;
}

.dataTable .th_title {
    max-width: calc(100% - 300px);
}

.dataTable .th_extension {
    width: 80px;
}

.dataTable .th_size {
    width: 100px;
}

.dataTable .td_checkBox {
    padding-left: 24px;
}