/* viewType : Table */
.viewType_Table {
    overflow: auto;
}

/* th 상단고정 */
.dataTable th {
    position: sticky;
    top: 0;
    height: 32px;
    z-index: 1;
    border-right: 1px solid #c9c9c9;
}

/* 테이블 컬럼 크기 조정 */
.dataTable .th_index {
    border: none;
    padding-left: 20px;
    width: 52px;
}
.dataTable .th_checkbox {
    width: 32px !important;
}

.dataTable .th_title {
    max-width: calc(100% - 300px);
}
.dataTable .th_extension {
    width: 80px;
}
.dataTable .th_owner {
    width: 100px;
}
.dataTable .th_LastModifiedDate {
    width: 200px;
}
.dataTable .th_size {
    width: 100px;
}


.dataTable .td_index {
    padding-left: 20px;
    text-align: center;
}
.dataTable .checkbox_item {
    margin-top: -5px;
    width: 16px;
    height: 16px;
}
.dataTable .td_title {
    cursor: pointer;
}