/* viewType : Thumbnail */
.viewType_Thumbnail {
    max-height: 400px;
    overflow: auto;
}



.thumbnailTable th {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* .thumbnailTable .th1 {
    width: 50px;
}

.thumbnailTable .th2 {
    padding-left: 24px !important;
    width: 50px;
}

.thumbnailTable .th3 {
    width: 150px;
}

.thumbnailTable .th4 {
    max-width: calc( 100% - 400px);
}

.thumbnailTable .th5 {
    width: 80px;
}

.thumbnailTable .th6 {
    width: 100px;
} */
.thumbnailTable .th_index {
    width: 50px;
}

.thumbnailTable .th_checkbox {
    padding-left: 24px !important;
    width: 50px;
}

.thumbnailTable .th_thumbnail {
    width: 150px;
}

.thumbnailTable .th_title {
    max-width: calc(100% - 400px);
}

.thumbnailTable .th_extension {
    width: 80px;
}

.thumbnailTable .th_size {
    width: 100px;
}

.thumbnailTable .td_checkBox {
    padding-left: 24px;
}

.thumbnailTable .td_thumbNail {
    padding-left: 10px;
}

.td_thumbNail .thumbImage {
    width: 80px;
    height: 90px;
}

.thumbImage img {
    width: 100%;
    height: 100%;
}