/* viewType : Thumbnail */
.viewType_Thumbnail {
    overflow: auto;
}

/* th 상단고정 */
.thumbnailTable th {
    position: sticky;
    top: 0;
    height: 32px;
    z-index: 1;
}

/* 테이블 컬럼 크기 조정 */
.thumbnailTable .th_index {
    padding-left: 20px;
    width: 52px;
}
.thumbnailTable .th_checkbox {
    width: 32px !important;
}
.thumbnailTable .th_thumbnail {
    width: 115.75px;
}
.thumbnailTable .th_title {
    max-width: calc(100% - 470px);
}
.thumbnailTable .th_extension {
    width: 80px;
}
.thumbnailTable .th_owner {
    width: 100px;
}
.thumbnailTable .th_LastModifiedDate {
    width: 200px;
}
.thumbnailTable .th_size {
    width: 100px;
}
.thumbnailTable .td_index {
    padding-left: 20px;
    text-align: center;
}
.thumbnailTable .checkbox_item {
    margin-top: -5px;
    width: 16px;
    height: 16px;
}
.thumbnailTable .td_thumbNail {
    padding-left: 10px;
}

/* 썸네일 이미지 크기 조정 */
.td_thumbNail .thumbImage {
    position: relative;
    width: 100%;
    height: 90px;
}
.thumbImage .thumbImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-height: 100%;
}